/* css
    como sabemos, tá chegando a data de publicar, então infelizmente teremos que... tirar os comentários cômicos
*/
* {
    margin: 0px;
    padding: 0px;
}

body { 
    overflow-x: hidden;
}

@keyframes goFromRightToLeft {
    0% { transform: translateX(500px); }
    100% { transform: translateX(0px); }
}

/* dark-mode */
.dark-mode {
    background-color: #292929;
    color: whitesmoke;
    transition: 0.2s;
}

.darkable {
    transition: 0.2s;
}


.hide {
    display: none !important;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    /* sets font to Arial, but if there is no Arial we use Helvetica but if Helvetica is not available we use sans */
    /* reviewer's note: SANS????? */
    /* commenter's note: the word sans in french stands for without, as in without serif meaning sans serif, serif is the fancy curly stuff that some fonts have, meaning sans serif has no serif beacuse it is sans serif meaning no serif is inserted in the font sans serif */
    /* boss' note: you're fired */
    width: 100%;
    height: 90px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
    position: relative;
    z-index: 1;

    position: sticky;
    top: 0.01px;
    transition: 0.3s ease-out;
}

header > * {
    transform: scale(1.05);
}

header>div,
header>nav {
    width: 30%;
}

.logo {
    text-align: center;
    font-size: 2rem;
}

.navbuttons {
    text-align: end; /* quem fez isso. */
}

.navbuttons > #language, .githublogo {
    border-radius: 15px;
}

.navbuttons > #language:hover, .githublogo:hover {
    transform: scale(1.05);
    background-color: hsla(0, 0%, 40%, 0.6);
}

.navbuttons > a {
    text-decoration: none;
    display: inline-block;
}

#langbtn {
    width: 30px;
    margin-left: 20px;
}

.dropdown-button{
    padding: 0rem;
    border: none;
    background-color: black;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: crimson;
    min-width: 25px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
    padding: 10px;
    gap: 10px;
}

#lang-pt{
    color: crimson;

}

.dropdown-button:hover {
    background-color: white;
}

.dropdown-button:hover .dropdown-content {
    display: flex;
    flex-direction: column;
} 

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 29px;
}

.switch input {
    width: 0;
    height: 0;
    opacity: 0;
}

.darkmode {
    display: flex;
    align-items: center;

    gap: 5px;

    position: relative;
}

.darkmodeslider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.5s;
    -webkit-transition: .4s;
    border-radius: 20px;
}

.darkmodeslider:before {
    /* esse aqui é a bolinha do slider*/
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 20px;
}

input:checked+.darkmodeslider {
    background-color: lightgreen;
}

input:checked+.darkmodeslider:before {
    transform: translateX(26px);
    background-color: rgb(56, 56, 56);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1;}
}

@keyframes dropDown {
    0% { transform: translateX(200px); }
    100% { transform: translateX(0px); }
}

#sun, #moon {
    position: absolute;

    user-select: none;

    animation: fadeIn 0.5s forwards;
}

#sun {
    left: -35px;
}

#moon {
    left: 60px;
}

/* Logo */
.logoimage {
    height: 30px;
    position: relative;
    top: 8px;
}

.githublogo {
    width: 32px;
    position: relative;
    top: 2.7px;
    left: 5%;
    left: 0%;
    top: 2px;
}

/* Texto-introdução */

.intro {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    width: 100%;
    min-height: 320px;
    background: linear-gradient(to left, rgb(129, 255, 129), rgb(54, 252, 54));
    margin: 0px;
    font-size: 0px;
    display: flex;
    justify-content: space-evenly;
}

.intro div {
    font-size: 20px;
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.introtext {
    display: flex;

    justify-content: center;
    align-items: center;

    text-align: left;

    height: 100%;

    padding: 20px;
    padding-top: 75px;
}

.introimg {
    display: flex;

    text-align: center;
}

.introtext h1 {
    margin-top: -20px;
}

/*Card Section*/

.precard-text {
    margin-top: 20px;

    display: flex;

    flex-direction: column;
    gap: 16px;

    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}

#click-to-access {
    color: gray;
    font-size: large;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
}

.cards {
    align-items: center;
    justify-content: space-around;

    margin-top: 20px;
}

.cards-1 {
    display: flex;
    justify-content: space-around;
}

.cards-2 {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 320px;
    height: 200px;

    margin: 25px;

    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    position: relative;

    transition: 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.card > p {
    position: absolute;
    top: 54px;
}

.card-small-title {
    color: white !important;
    user-select: none;
    pointer-events: none;
}

.card>img {
    transition-duration: 0.3s;

    cursor: pointer;

    width: 80%;
}

.modal-background {
    display: flex;

    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);

    position: fixed;

    z-index: 1;

    top: 0px;

    width: 100vw;
    height: 100vh;
}


.modal {
    min-height: 450px;
    min-width: 500px;

    height: 80%;
    width: 80%;

    overflow: auto;

    border-radius: 1rem;

    background-color: #ffffff;

    padding: 2rem;
    animation: fadeIn 0.3s ease-in-out;
}

.dark-modal {
    background-color: #292929;
}

.hide-modal {
    display: none;
}

/* FOOTER */
footer {
    height: 90px;
    width: 100%;
    background-color: black;
    margin-top: 70px;

    display: flex;
    color: white;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}

footer div {
    width: 50%;
}

#footerbuttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footerbuttons a {
    color: white;
    font-size: 20px;
}

#footertext {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeButtonContainer {
    display: flex;
    width: 100%;
    justify-content: end;
}

.closeButton {
    display: flex;

    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;

    width: 35px;
    height: 35px;

    user-select: none;

    justify-content: center;
    align-items: center;
    padding: 5px;

    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 50%;
    cursor: pointer;

    z-index: 99;
}

.closeButton img {
    position: relative;
    bottom: 1px;
    width: 70%;
    height: 70%;
}

#maintitle {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    position: relative;
    bottom: 30px;
}

/* Formatação de texto dos cards */

.textholder {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.cardimgcontainer {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 10px;
}

.modalcard {
    position: absolute;
    height: 150px;
    left: 50%;
    top: -25px;
    transform: translate(-50%, 0%);
}

/* Menu de tradução */

#language {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;

}

.lang-content {
    position: absolute;
    min-width: 100px;
    z-index: 1;
    background-color: #494949;
    
    right: -50px;
    top: 40px;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.lang-content > div {
    padding: 15px 0px 15px 0px;
}

.lang-content > div:hover {
    background-color: #444444;
}

.lang-content > div > a {
    color: white;
    text-decoration: none;
    text-align: start;
}

@media (max-width: 600px) {
    body {
        max-width: 100vw;
        min-height: 100vh;
        overflow-x: hidden;
    }

    header {
        position: fixed;
        z-index: 999;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        padding: 10px 0px 10px 0px;
        transition: height 0.4s ease;
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        order: -1;
    }

    .darkmode {
        display: flex;
        justify-content: center;
        text-align: center;
        width: fit-content;
    }

    .logoimage {
        width: auto;
        height: 50px;
        object-fit: contain;
        transition: height 0.4s ease;
    }

    .navbuttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        width: 100%;
    }

    .navbuttons a img,
    .navbuttons button img {
        width: 35px;
        height: 35px;
    }

    .introimg {
        display: none !important;
    }

    footer {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


}